<div class="rolls-ch-pass">
<header id="header">
	<div class="back-top-quiz"><a href="/#/start_quiz"> 
		<img src="content/images/back-to-quiz.png" alt="back-to-quiz"></a> 
	</div>
	<span class="logo"> <img class="img-responsive" src="content/images/rollsroyce-logo.png" alt="rollsroyce"> </span> 
</header>
<div class="quiz-app"><div class="quiz-app-logo">
<img class="img-responsive" src="content/images/quiz-app-logo.png" alt="knowledge-app"></div></div>
<section id="changePass-confirm-screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Your password has been successfully updated.</h1>
          </div>
      </div>
    </div>
  </div>
</section>
</div>