<div class="rolls-ch-pass">
<header id="header"> <span class="logo"> <img class="img-responsive" src="content/images/rollsroyce-logo.png" alt="rollsroyce"> </span> </header>
<div class="quiz-app"><div class="quiz-app-logo">
<img class="img-responsive" src="content/images/quiz-app-logo.png" alt="knowledge-app"></div></div>
<section id="login-screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Change Your Password</h1>
          <form id="Changepwdform" name="Changepwd">
            <div class="form-group">
              <input type="password" data-ng-model="password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d$@!%*#?&\-\^\=\+/`_~,.()\[\]\{\}|'\\:;<>]{8,}$/" class="form-control" id="Forgotpassword" placeholder="New Password" required>
            </div>
            <div class="form-group">
              <input type="password" data-ng-model="cpassword" password-match="password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d$@!%*#?&\-\^\=\+/`_~,.()\[\]\{\}|'\\:;<>]{8,}$/" class="form-control" id="Forgotcpassword" placeholder="Confirm New Password" required>
            </div>
            <p class="password-count">Your password must be a minimum of 8 characters and contain at least one capital letter and one number.</p>
            <div class="forgotpass-section">
            <span class="success_msg">{{message}}</span>
            <span class="error_msg">{{errorMessage}}</span>
            </div>
            
            <button id="forgotFormSubmitBtn" type="submit" class="btn btn_default" ng-class="{btn_default:Changepwd.$invalid}" ng-click="changePasswordSalesAssociate()" ng-disabled="Changepwd.$invalid">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>