<!--<div class="quiz-app"><div class="quiz-app-logo">
<img class="img-responsive" src="content/images/knowledge-quiz-logo.png" alt="knowledge-app"></div></div>
<section id="login-screen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>Forgot Password</h1>
          <form id="Loginform">
            <div class="form-group">
              <input type="text" class="form-control" id="forgotcompanyemail" placeholder="Your Company Email">
            </div>
              <div class="forgotpass-section">
            <p class="forgotpassword">Login</p>
            <span class="error_msg"></span>
            </div>
            <span class="error_msg"></span>
            <button disabled="true" id="forgotFormSubmitBtn" type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
         
           
      </div>
    </div>
  </div>
</section>-->
<header id="header"> <span class="logo"> <img class="img-responsive" src="content/images/rollsroyce-logo.png" alt="rollsroyce"> </span> </header>
<div class="quiz-app">
    <div class="quiz-app-logo">
        <img class="img-responsive" src="content/images/knowledge-quiz-logo.png" alt="knowledge-app">
    </div>
</div>
<!-- <section id="login-screen" class="start-login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      
        <div class="text-center">
          <h1>Forgot your email?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies venenatis magna, vulputate vehicula arcu molestie id.</p>
          <h1>Forgot your password?</h1>
          <p>Enter your company email below and we will send you a link to change your password.</p>
          <div class="more-contents"><img src="content/images/more-contents.png" alt="knowledge-app"></div>
          <form id="forgotpwdform" name="forgotpwd">
            <div class="form-group">
              <input type="email" data-ng-model="email" class="form-control" id="forgotcompanyemail" placeholder="Your Company Email" required>
            </div>
             <div class="forgotpass-section">
            <p class="forgotpassword"><a ng-href="/#/login">Login</a></p>
            <span class="error_msg">{{errorMessage}}</span>
            </div>
            <span class="error_msg"></span>
            <button id="forgotFormSubmitBtn" type="submit" class="btn btn_default" ng-class="{btn_default:forgotpwd.$invalid}" ng-click="forgotpwdSalesAssociate()" ng-disabled="forgotpwd.$invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->